.container { 
    display: flex; 
    flex-direction: row; 
    background-color: gray; 
    justify-content:center; 
    align-items: center; 
} 
.quadrado_vermelho{ 
    background-color: red; 
    width: 35px; 
    height: 35px; 
    margin: 75px;
    padding: 100px;
}
